<div class="col-sm-11">
	<div class="row">
		<h1 class="text-center">Make a Booking</h1>
	</div>

	<br>
	<br>
	<br>
	<div class="row">
		
		<div class="col-sm-4">
		<h3>Choose a time that matches the availibity on the calendar on the right</h3>
			<%= render 'form' %>
		</div>


		<div class="col-sm-7 col-sm-offset-1">
			<div id="calendar" class="calendar" data-teacher-id="<%= @teacher.id %>" data-teacher-timezone="<%= current_user.time_zone %>"></div>
		</div>
	</div>
</div>