	<div class="col-sm-6 col-sm-offset-3">
		<div class="text-center page-header">
			<h1>Contact Us</h1>
		</div>

			<address class="text-center">
			  <strong>Chris Tyler</strong><br>
			  <a href="mailto:#">cdtded1212@gmail.com</a>
			</address>

			<address class="text-center">
			  <strong>Mike Zhang</strong><br>
			  <a href="mailto:#">michaelzhang2@msn.com</a>
			</address>
		</div>
		
	</div>
